# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.cursor/*
.agents/*
docs/*
worker/node_modules/*
worker/.wrangler/*
worker/package-lock.json
package-lock.json
worker/src/handlers/static.js
landing/template.html
.devcontainer/devcontainer.json
dist/*
9remote-*.tgz
*/.next/*
*/node_modules/*
client/out/*
cli/dist/*
.docs/*
worker/wrangler.toml
desktop/src-tauri/target/debug/*
desktop/src-tauri/target/*
desktop/dist/*
worker/wrangler.toml
.bin/*
web/.open-next/*
agent/dist/*
